<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>

<body>
    <Main class="mt-5">
        <div class="container">
            <div class="text-center py-5">
                <h1>Descripcion de ${Nombre Personaje}</h1>
            </div>
            <div class="bg-white text-left menubg text-dark">
                <div class="row p-5">
                    <div class="col-12 col-md-6 text-center text-md-left">
                        <div class="text-center">
                            <img class="img-fluid" style="max-width: 60%"
                                src="https://vignette.wikia.nocookie.net/starwars/images/2/20/LukeTLJ.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <div class="py-3">
                            <h2>Luke Skywalker</h2>
                            <h5>tatooine</h5>
                        </div>
                        <div class="itemDescription py-2">
                            <h3>Especie: human</h3>
                        </div>
                        <div class="itemDescription py-2">
                            <h3>affiliations:</h3>
                            <ul>
                                <li>Alliance to Restore the Republic</li>
                            </ul>
                        </div>
                        <div class="itemDescription py-2">
                            <h3>masters:</h3>
                            <ul>
                                <li>bi-Wan Kenobi</li>
                            </ul>
                        </div>
                        <div class="itemDescription py-2">
                            <h3>apprentices:</h3>
                            <ul>
                                <li>Leia Organa</li>
                            </ul>
                        </div>
                        <div class="itemDescription py-2">
                            <h3>formerAffiliations:</h3>
                            <ul>
                                <li>Jedi Order</li>
                            </ul>
                        </div>
                        <a class="botonEnlace" href="https://starwars.fandom.com/wiki/Luke_Skywalker">Ver Mas...</a>
                    </div>
                </div>
    </Main>
    </div>
    </div>

    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
</body>

</html>